---
layout: default
---

<hr class="small" />

<h2>Research Areas</h2>

<h5>
  Our research group is primarily interested in (1) Recommender Systems,
  (2) Natural Language Processing, and (3) Machine/Deep Learning algorithms.
  In addition to these topics, we broadly lie in the field of data mining, machine learning, deep learning,
  and related applications. For more information on research topics, please visit our project page.
</h5>

<!-- <table>
    <tr align="center">
        <td>
            <h3>1. A</h3>
            A is one of the research areas.
        </td>
        <td>
            <h3>2. B</h3>
            B is one of the research areas.
        </td>
    </tr>
    <tr align="center" bgcolor=#f1f3f5>
        <td>
            <h3>3. C</h3>
            C is one the the research areas.
        </td>
        <td>
            <h3>4. D</h3>
            D is one the the research areas.
        </td>
    </tr>
</table> -->
<a href="research/research_areas_index.html" , style="color:black">
  <p style="text-align:right">Details ></p>
</a>

<hr>
<div class="list">
  <h2>Recent News</h2>
  {% if site.categories.news %}
  {% assign sorted = site.categories.news | sort: "date" | reverse %}
  <!-- This loops through the paginated posts -->
  {% for post in sorted limit:3 %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% endif %}
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
        <div class="list-post-title">
          {{ post.title }}
        </div>
        {% if post.description %}
        <div class="list-post-desc">
          {{ post.description }}
        </div>
        {% endif %}
      </a>
    </a>
  </div>
  {% endfor %}
  <a href="news/index.html" , style="color:black">
    <p style="text-align:right">more ></p>
  </a>
  {% else %}
  <h2>No news found</h2>
  {% endif %}
</div>
