---
layout: default
---

<div class="header-title">
  <img src="/images/dial_lab_logo.png" desc="logo" />
</div>
<div class="header-title-desc">
  <span><b>D</b>ata <b>I</b>ntelligence <b>A</b>nd <b>L</b>earning Lab</span>
</div>

<h2 class="section">Welcome!</h2>

<div class="section-desc">
  Our research group is primarily interested in (1) Recommender Systems,
  (2) Natural Language Processing, and (3) Machine/Deep Learning algorithms.
  In addition to these topics, we broadly lie in the field of data mining, machine learning, deep learning,
  and related applications. For more information on research topics, please visit our project page.
</div>

<a href="/research" , style="color:black">
  <p style="text-align:right">Details ></p>
</a>

<h2 class="section">Recent News</h2>
<div class="list">
  {% if site.categories.news %}
  {% assign sorted = site.categories.news | sort: "date" | reverse %}
  <!-- This loops through the paginated posts -->
  {% for post in sorted limit:5 %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% endif %}
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
        <div class="list-post-title">
          {{ post.title }}
        </div>
        {% if post.description %}
        <div class="list-post-desc">
          {{ post.description }}
        </div>
        {% endif %}
      </a>
    </a>
  </div>
  {% endfor %}
  <a href="news/index.html" , style="color:black">
    <p style="text-align:right">more ></p>
  </a>
  {% else %}
  <h2>No news found</h2>
  {% endif %}

  <h2 class="section">Contact</h2>
  <div class="flex contact-container">
    <iframe class="flex contact-item contact-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1340.2943775531448!2d126.97469493162409!3d37.29598293965637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b42ca765cb651%3A0x6830f8ffd192a1f4!2z7ISx6reg6rSA64yA7ZWZ6rWQIOyCsO2Vme2YkeugpeyEvO2EsA!5e0!3m2!1sko!2skr!4v1568208223279!5m2!1sko!2skr"
      frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div class="flex flex-direction-column contact-item">
      <div class="contact-col">
        <h3 class="section contact-section">Address</h3>
        2066 Seobu-ro, Jangan-gu, Suwon-si, Gyeonggi-do, <br />
        Republic of Korea<br />
        대한민국 경기도 수원시 장안구 서부로 2066
      </div>
      <div class="contact-col">
        <h3 class="section contact-section">Location</h3>
        Room 85464, Natural Sciences Campus, <br />
        Sungkyunkwan University.
      </div>
    </div>
  </div>
</div>
