---
layout: page
title: People
---

<div clsas="members">
    <div class="members-job">Professor</div>
    <ul>
    {% for member in site.authors %}
    {% if member.job == 'professor' %}
    <li>
        <div class="members-info">
            <a href="/authors/{{ member.name }}">
            <span class="members-info-name">
                {{member.name}}
            </span><br>
            {% if member.description %}
            <span class="members-info-desc">
                {{member.description}}
            </span>
            {% endif %}
            </a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    <div class="members-job">Graduate</div>
    <ul>
    {% for member in site.authors %}
    {% if member.job == 'graduate' %}
    <li>
        <div class="members-info">
            <a href="/authors/{{ member.name }}">
                <span class="members-info-name">
                    {{member.name}}
                </span><br>
                {% if member.description %}
                <span class="members-info-desc">
                    {{member.description}}
                </span>
                {% endif %}
            </a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    <div class="members-job">Undergraduate</div>
    <ul>
    {% for member in site.authors %}
    {% if member.job == 'undergraduate' %}
    <li>
        <div class="members-info">
            <a href="/authors/{{ member.name }}">
                <span class="members-info-name">
                    {{member.name}}
                </span><br>
                {% if member.description %}
                <span class="members-info-desc">
                    {{member.description}}
                </span>
                {% endif %}
            </a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    </ul>
    <div class="members-job">Alumni</div>
    <ul>
        {% for member in site.authors %}
        {% if member.job == 'alumni' %}
        <li>
            <div class="members-info">
                <a href="/authors/{{ member.name }}">
                    <span class="members-info-name">
                        {{member.name}}
                    </span><br>
                    {% if member.description %}
                    <span class="members-info-desc">
                        {{member.description}}
                    </span>
                    {% endif %}
                </a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>