@import "bootstrap";

.header-title-desc {
  margin-bottom: 2rem;
}

h2.section {
  font-size: 1.25rem;
}

h3.section {
  font-size: 1.15rem;
}

div.section-container {
  margin-top: 1.3rem;
}

div.second-section-container {
  margin-bottom: 1.3rem;
}

.table-container {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table-custom {
  font-size: 0.8rem;

  @include media-breakpoint-down(sm) {
    table-layout: fixed;
    width: 500px;
  }

  .td-custom {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .td-custom-date {
    @include media-breakpoint-down(sm) {
      width: 10%;
    }
  }

  a {
    color: $base-color;
    &:hover {
      color: cornflowerblue;
    }
  }
}

.swiper-container {
  // height: 30vw;
  margin-bottom: 2rem;

  // @include media-breakpoint-down(sm) {
  //   height: 50vw;
  // }

  .swiper-slide {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 34.37% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */

    @include media-breakpoint-down(sm) {
      padding: 50% 0 0 0;
    }
  }

  .swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .swiper-text {
    width: 100%;
    padding: 0 2.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .swiper-tint {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
  }
}
