.header-title-desc {
  margin-bottom: 2rem;
}

h2.section {
  font-size: 1.25rem;
}

h3.section {
  font-size: 1.15rem;
}

div.section-container {
  margin-top: 1.3rem;
}

div.second-section-container {
  margin-bottom: 1.3rem;
}

.table-custom {
  font-size: 0.8rem;
  // table-layout: fixed;

  .td-custom {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a {
    color: $base-color;
    &:hover {
      color: cornflowerblue;
    }
  }
}
