---
layout: page
title: Publication
permalink: /publication/index.html
---

{% include publication_nav.html %}

<div id="journal" style="display:none"></div>

<a style="color:white">{% increment journal_international_number %}</a>
<a style="color:white">{% increment journal_domestic_number %}</a>

<div class="publication">
    <div class="publication-list">
        <h2>International Journals</h2>
        {% if site.categories.journal_international.size == 0 %}
        <h2>No publication found</h2>
        {% else %}
            {% for post in site.categories.journal_international %}
            <div class="publication-list-post">
                <div class="publication-list-post-content">
                    <span class="publication-list-post-content-title">
                        {% increment journal_international_number %}
                        .
                        {{ post.title }}
                    </span><br>
                    {% if post.description %}
                    <span class="publication-list-post-content-description">
                        {{ post.description }}
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <h2>Domestic Journals</h2>
        {% if site.categories.journal_domestic.size == 0 %}
        <h2>No publication found</h2>
        {% else %}
            {% for post in site.categories.journal_domestic %}
            <div class="publication-list-post">
                <div class="publication-list-post-content">
                    <span class="publication-list-post-content-title">
                        {% increment journal_domestic_number %}
                        .
                        {{ post.title }}
                    </span><br>
                    {% if post.description %}
                    <span class="publication-list-post-content-description">
                        {{ post.description }}
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
